.modal-header{
    padding: 1rem 2rem;
}

.mat-h5, .mat-typography h5{
    font-size: 1rem !important;
    margin: 0 !important;
    font-weight: 600;
}

button{
    margin-top: 2rem;
    padding: 0.75em 1.5em;
    font-size: 1.25em;
    font-weight: 600;
}