<app-seperation-section></app-seperation-section>

<div class="container">
  <div class="row">
    <div class="col-md-6 category__list">
      <h3>Các khóa học đã tham gia</h3>
    </div>
    <div class="col-md-6">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          (keyup)="onSubmit($event)"
          [(ngModel)]="searchValue"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="listMyCourses">
        <div *ngFor="let course of listMyCourses">
          <app-booked-course [course]="course"></app-booked-course>
        </div>
      </ng-container>
    </div>
  </div>
</div>


<app-seperation-section></app-seperation-section>
