
<div class="card">
  <div class="row">
    <div class="col-md-4">
      <img src="{{courseDetail.hinhAnh }}" class="w-100 image" />
    </div>
    <div class="col-md-8 px-3">
      <div class="card-block px-3 card-content">
        <a routerLink="/detail/{{ course.maKhoaHoc }}" class="card-title">
          Khóa học {{ course.tenKhoaHoc }}
        </a>

        <div>
          <p class="card-text">{{ courseDetail.moTa }}</p>
        </div>

        <div class="button">
          <button class="btn" (click)="cancelCourse()">Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>
