.mat-tab-group .mat-tab-label .mat-tab-label-content {
  font-size: 1.25rem !important;
  color: #00232b !important;
  font-weight: 800 !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}
