

<section
  class="vh-100 bg-image"
  style="
    background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Đăng ký</h2>

              <form
                #registerForm="ngForm"
                (ngSubmit)="register(registerForm.value)"
              >
                <div class="form-outline mb-4 form-group">
                  <input
                    type="text"
                    placeholder="Tài khoản"
                    name="taiKhoan"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    ngModel
                    required
                    minlength="7"
                    maxlength="15"
                    #TaiKhoan="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)
                    "
                  >
                    <!-- Kiểm tra rỗng -->
                    <div *ngIf="TaiKhoan.errors.required">
                      Vui lòng nhập tài khoản
                    </div>
                    <!-- Kiểm tra độ dài -->
                    <div
                      *ngIf="
                        TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength
                      "
                    >
                      Độ dài ký tự phải từ 7-15
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    name="matKhau"
                    id="form3Example3cg"
                    placeholder="Mật khẩu"
                    class="form-control form-control-lg"
                    ngModel
                    required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    #Password="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      Password.errors && (Password.dirty || Password.touched)
                    "
                  >
                    <div *ngIf="Password.errors.required">
                      Vui lòng nhập mật khẩu
                    </div>
                    <div *ngIf="Password.errors.pattern">
                      Phải chứa ít nhất một số, một chữ tin hoa và ít nhất 8 ký
                      tự trở lên
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    name="email"
                    placeholder="Email"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    ngModel
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    #Email="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="Email.errors && (Email.dirty || Email.touched)"
                  >
                    <div *ngIf="Email.errors.required">Vui lòng nhập Email</div>
                    <div *ngIf="Email.errors.pattern">
                      Email không đúng định dạng
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    name="hoTen"
                    placeholder="Họ tên"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    ngModel
                    required
                    #HoTen="ngModel"
                  />
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    placeholder="Số điện thoại"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="HoTen.errors && (HoTen.dirty || HoTen.touched)"
                  >
                    <div *ngIf="HoTen.errors.required">
                      Vui lòng nhập vào họ tên
                    </div>
                  </div>
                </div>

                

                <div class="d-flex justify-content-center">
                  <button
                   
                    class="
                      btn btn-success btn-block btn-lg
                      gradient-custom-4
                      text-body
                    "
                    [disabled]="!registerForm.valid"
                  >
                    Đăng ký
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
