


<section
class="vh-100 bg-image"
style="
  background-image: url('https://mdbootstrap.com/img/new/fluid/city/018.jpg'); background-repeat: none; background-position: center; background-size: cover;
"
>
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Đăng nhập</h2>

            <form
            #loginForm="ngForm" (ngSubmit)="login(loginForm.value)"
            >
              <div class="form-outline mb-4 form-group">
                <input
                  type="text"
                  placeholder="Tài khoản"
                  name="taiKhoan"
                  id="form3Example1cg"
                  class="form-control form-control-lg"
                  ngModel
                  required
                  #TaiKhoan="ngModel"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)
                  "
                >
                  <!-- Kiểm tra rỗng -->
                  <div *ngIf="TaiKhoan.errors.required">
                    Vui lòng nhập tài khoản
                  </div>
                  <!-- Kiểm tra độ dài -->
                </div>
              </div>

              <div class="form-outline mb-4">
                <input
                  type="text"
                  name="matKhau"
                  id="form3Example3cg"
                  placeholder="Mật khẩu"
                  class="form-control form-control-lg"
                  ngModel
                  required
                  #Password="ngModel"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    Password.errors && (Password.dirty || Password.touched)
                  "
                >
                  <div *ngIf="Password.errors.required">
                    Vui lòng nhập mật khẩu
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button
                 
                  class="
                    btn btn-success btn-block btn-lg
                    gradient-custom-4
                    text-body
                  "
                  [disabled]="!loginForm.valid"
                >
                  Đăng nhập
                </button>
              </div>
            </form>
      <button style="margin-top: 1em;" class="btn btn-primary btn-block btn-lg
      gradient-custom-4
      text-body" (click)="register()">Đăng ký</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

