

<!-- Main UI -->
<div class="dashboard">
  <button type="button" mat-button (click)="drawer.toggle()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button type="button" mat-button (click)="drawer.toggle()">
        <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
      </button>
      <nav>
        <div class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
          <a
            mat-raised-button
            class="nav-item nav-link active"
            id="nav-user-tab"
            data-toggle="tab"
            href="#nav-user"
            role="tab"
            aria-controls="nav-user"
            aria-selected="true"
            >Quản lý người dùng</a
          >
          <a
            mat-raised-button
            class="nav-item nav-link"
            id="nav-phim-tab"
            data-toggle="tab"
            href="#nav-phim"
            role="tab"
            aria-controls="nav-phim"
            aria-selected="false"
            >Quản lý khóa học
          </a>
        </div>
      </nav>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-user"
          role="tabpanel"
          aria-labelledby="nav-user-tab"
        >
          <app-user-manager (eventEditUser)="openModalUser($event)">
          </app-user-manager>
        </div>
        <div
          class="tab-pane fade"
          id="nav-phim"
          role="tabpanel"
          aria-labelledby="nav-phim-tab"
        >
          <app-course-manager></app-course-manager>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>

<app-modal-user-manager
  [userEdit]="userEdit"
></app-modal-user-manager>


<app-modal-course-manager [flagModal]="flag" [itemSuaPhim]="itemSuaPhim"></app-modal-course-manager>
