<div class="quan-ly-user">
  <div class="d-flex justify-content-around align-items-center mb-2">
    <button
      mat-raised-button
      color="primary"
      data-toggle="modal"
      data-target="#modalQuanLyThanhVien"
      (click)="themNguoiDung()"

    >
      Thêm người dùng
    </button>
    <mat-form-field appearance="outline">
      <mat-label>Tìm người dùng</mat-label>
      <input type="text"
      matInput
      [value]="keyword"
      [(ngModel)]="keyword"
      (keyup)="handleSearch()" />
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      (click)="Logout()"

    >
      Đăng Xuất
    </button>
  </div>
  <div class="danh-sach-nguoi-dung">
    <table class="table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Tài Khoản</th>
          <th>Họ Tên</th>
          <th>Email</th>
          <th>Số Điện Thoại</th>
          <th>Loại người dùng</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="listUsers">
          <tr *ngFor="let user of listUsers; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ user.taiKhoan }}</td>
            <td>{{ user.hoTen }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.soDt }}</td>
            <td>{{ user.maLoaiNguoiDung }}</td>
            <td>
              <button
                mat-raised-button
                class="mr-1"
                data-toggle="modal"
                data-target="#modalQuanLyThanhVien"
                (click)="suaNguoiDung(user)"
              >
                Sửa
              </button>
              <a mat-raised-button color="warn" (click)="xoaNguoiDung(user.taiKhoan)">
                <fa-icon [icon]="faWindowClose"></fa-icon>
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

