<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <div class="hero-title">
      <h1>Chào mừng đến CycloneSoft</h1>
      <h2>Cơn lốc xu hướng IT của giới trẻ</h2>
    </div>

    <form class="card card-sm">
      <div class="card-body row no-gutters align-items-center">
        <div class="col">
          <input
            class="form-control form-control-lg form-control-borderless"
            type="search"
            placeholder="Tìm khóa học"
            (keyup)="onSubmit($event)"
            [(ngModel)]="searchValue"
            id="searchKey"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="col-auto">
          <button class="btn btn-lg btn-success" (click)="onSubmit($event)">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
